<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script>
      console.log("hi from the client")
    </script>
  </head>
  <body>
    <h1>Hello Thursday</h1>
    <img src="/images/catHmmm.png" alt="" />
    <% for (var user of users) { %>
    <p><%= user.name %> <%= user.email; %></p>
    <% for (var interest of user.interests) { %>
    <p><%= interest %></p>
    <% } %> <% } %>
  </body>
</html>
